.app {
  background-image: url("./banner1.jpg");
}
.app-header {
  padding: 10px;
  display: flex;
  background: transparent;
}
.header {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
}
.login-btn {
  background-color: black;
  padding: 10px;
  width: auto;
  position: absolute;
  right: 5px;
}

.inner-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-box {
  background-color: black;
  display: inline-block;
  opacity: 0;
  padding: 3em;
  text-align: center;
}

.inner-box-heading {
  display: inline-block;
  border-bottom: solid 2px;
  border-top: solid 2px;
  border-color: #fff;
  margin: 0 0 2em 0;
  padding: 3px 0 3px 0;
  color: #fff;
}

.campus-recruitment {
  border-bottom: solid 2px;
  border-top: solid 2px;
  font-size: 2.5em;
  font-weight: 900;
  letter-spacing: 0.2em;
  margin: 0;
  padding-left: 0.05em;
  position: relative;
  text-transform: uppercase;
  color: #fff;
}

.content {
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}

.main-article {
  padding-top: 5em;
}

.special-container {
  padding-left: 2.5em;
  padding-right: 2.5em;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-icons {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}
